.branches-list-container{
    margin: 30px;
}
.title{
    font-size: 1.5em;
}
.branches-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.branch{
    padding: 5px 15px;
    border: 1px solid;
    border-radius: 5px;
    margin: 8px;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .2);
}
.status-button{    
    cursor: pointer;
}
.branch a{
    text-decoration: none;
}
.branch:hover a{
    text-decoration: underline;
}
.branch[data-status=locked],
.branch[data-status=locked] i,
.branch[data-status=locked] a{
    color: #cf394f !important;
}
.branch[data-status=opened],
.branch[data-status=opened] i,
.branch[data-status=opened] a{
    color: #1bb25c !important;
}

.version {
    margin-right: 8px;
}
.status-button {
    background: none;
    border: none;
}
.btn {
    font-size: 1em !important;
}