@font-face {
    font-family: 'Segoe UI';
    src: url('https://cdnjs.cloudflare.com/ajax/libs/myscript/4.1.3/fonts/diagram/segoeui.otf');    
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Warnes&display=swap');

@font-face {
    font-family: "dotted";
    src: url(dotted.ttf) format('truetype');
   }
@font-face {
    font-family: "LED Dot-Matrix";
    src: url('LED Dot-Matrix.ttf') format('truetype');
}
@font-face {
    font-family: "magic retro";
    src: url('./fonts/Magic_Retro.ttf') format('truetype');
}
[data-font="magic-retro"]{
    font-family: "magic retro";
    font-size: 40px;
}
@font-face {
    font-family: "typewriter";
    src: url('./fonts/Typewriter-Black.ttf') format('truetype');
}
[data-font="typewriter"]{
    font-family: "typewriter";
    font-size: 40px;
}
@font-face {
    font-family: "xantegrode signature";
    src: url('./fonts/Xantegrode_Signature.ttf') format('truetype');
}
[data-font="xantegrode-signature"]{
    font-size: 40px;
    font-family: "xantegrode signature";
}
@font-face {
    font-family: "romantice";
    src: url('./fonts/ROMANTICE.ttf');
}
[data-font="romantice"]{
    font-size: 40px;
    font-family: "romantice";
}
@font-face {
    font-family: "ancient";
    src: url('./fonts/Ancient Medium.ttf');
}
[data-font="ancient"]{
    font-size: 60px;
    font-family: "ancient";
}


html,
body,
#container{
    height: 100%;
    width: 100%;
    margin: 0;    
}
body{
    background-image: url('./wallpapers/wallpaper1.jpg');
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-color: #282828;
    color: white;
    font-family: 'Segoe UI';
}
.flex{
    display: flex;
}
.column {
    flex-direction: column;
    padding: 10px;    
}
.row{    
    flex-direction: row;
}
.link{
    color: white;
    padding: 0 8px;
    pointer-events: all !important;
}