@font-face {
    font-family: 'Segoe UI';
    src: url('https://cdnjs.cloudflare.com/ajax/libs/myscript/4.1.3/fonts/diagram/segoeui.otf');    
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Warnes&display=swap');

@font-face {
    font-family: "dotted";
    src: url(dotted.ttf) format('truetype');
   }
@font-face {
    font-family: "LED Dot-Matrix";
    src: url('LED Dot-Matrix.ttf') format('truetype');
}
@font-face {
    font-family: "magic retro";
    src: url('./fonts/Magic_Retro.ttf') format('truetype');
}
[data-font="magic-retro"]{
    font-family: "magic retro";
    font-size: 60px;
}
@font-face {
    font-family: "typewriter";
    src: url('./fonts/Typewriter-Black.ttf') format('truetype');
}
[data-font="typewriter"]{
    font-family: "typewriter";
    font-size: 50px;
}
@font-face {
    font-family: "xantegrode signature";
    src: url('./fonts/Xantegrode_Signature.ttf') format('truetype');
}
[data-font="xantegrode-signature"]{
    font-size: 50px;
    font-family: "xantegrode signature";
}
@font-face {
    font-family: "romantice";
    src: url('./fonts/ROMANTICE.ttf');
}
[data-font="romantice"]{
    font-size: 50px;
    font-family: "romantice";
}
@font-face {
    font-family: "ancient";
    src: url('./fonts/Ancient Medium.ttf');
}
[data-font="ancient"]{
    font-size: 70px;
    font-family: "ancient";
}
html,
body,
#container{
    height: 100%;
    width: 100%;
    margin: 0;    
}
.content{
    padding: 30px;
    width: 100%;
}
body{
    background-image: url('./wallpapers/wallpaper1.jpg');
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-color: #282828;
    color: white;
    font-family: 'Segoe UI';
}
.flex{
    display: flex;
}
.column {
    flex-direction: column;
}
.row{    
    flex-direction: row;
}
.center {
    justify-content: center;
    align-items: center;
}
.link{
    color: white;
    padding: 0 8px;
    pointer-events: all !important;
}
.small.btn {
    font-size: 1em;
}
.btn{
    cursor: pointer;
    display: flex;
    width: fit-content;
    padding: 5px 20px;
    border: 3px solid white;
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 1;
    margin: 15px;
    font-weight: 600;
    background: rgba(255, 255, 255, .35);
    transform: skewX(345deg);
    font-size:1.5em;
}
.btn:hover .icon{
    width: 35px;
}
.btn .icon {
    letter-spacing: -4px;
    margin: 0 0 0 10px;
    transition: width .5s;
    width: 0;
    overflow: hidden;
}
.btn:before{
    content: '';
    border: 1px solid red;
    width: calc(100% + 5px);
    position: absolute;
    height: calc(100% + 5px);
    top: 3px;
    left: 3px;
    border: 3px solid white;
    border-left: none;
    z-index: 0;
    border-top: none;
}
#container {
    text-align: center;
    display: flex;
}
input[type="text"], select {
    height: 1.3em;
    padding: 3px 10px;
    border-width: 1px;
}
select {
    height: 1.9em;
    max-width: 20em;
}
input[type="checkbox"]{
    width: 1.2em;
    height: 1.2em;
}